
<div class="content" id="welcome">

  <div class="rkv-section" data-section="home" id="home">
    <div class="bg">
      <div class="intro">
        <h1>Front-end <br/> developer <br/>extraordinaire.</h1>
        <h1>KIRAN VENKATESH</h1>
      </div>

      <div class="scroll-message">
        <p>SCROLL DOWN TO LEARN MORE ABOUT ME AND MY WORK</p>
        <i class="fa fa-chevron-circle-down"></i>
      </div>
    </div>
  </div>

  <div class="rkv-section" data-section="about" id="about">
    <div class="bg" data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#about">
      <div class="section-title">
        <h2>ABOUT</h2>
        <h2>Who Am I?</h2>      
      </div>
      
      <div class="about-me">
        <div class="about-me-logo"></div>
        <div class="about-me-info">
          <div class="about-me-desc">
            <p>
              I am a developer working in the Bay Area. Originally from Chennai,
              I moved to San Jose to earn my MS in Computer Science/Engineering from 
              San Jose State University. Since then, I’ve focused on providing engineering 
              and development solutions for several prominent companies seeking to diversify 
              their customer touch points including Kaiser Permanente, Walmart...
            </p>

            <p>
              *What do you aim to accomplish with your work? How do you consider yourself different 
              from other developers? What do you bring to the table to employers? 
              (ie: is there something in your process or thinking they’d like?) SELL YOURSELF
            </p>
          </div>        

          <div data-title="facebook" class="social about-me-fb"></div>
          <div data-title="linkedin" class="social about-me-in"></div>
        </div>
      </div>
    </div>  	
  </div>

  <div class="rkv-section" data-section="work" id="work">
    <div class="bg">
      <div class="section-title">
        <h2>WORK</h2>
        <h2>What I do</h2>
        <div class="work">
          <div data-card="work1">
            <div class="card-info"><span>Work</span></div>
          </div>
          <div data-card="work2">
            <div class="card-info"><span>Work</span></div>
          </div>
          <div data-card="work3">
            <div class="card-info"><span>Work</span></div>
          </div>
        </div>

        <div class="work">
          <div data-card="work4">
            <div class="card-info"><span>Work</span></div>
          </div>
          <div data-card="work5">
            <div class="card-info"><span>Work</span></div>
          </div>
          <div data-card="work6">
            <div class="card-info"><span>Work</span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="work-panels">
      <div data-card-panel="work1">
        <i class="fa fa-times-circle-o"></i>
        <div class="panel-content">
          <h1>This is panel 1</h1>
        </div>        
      </div>
      <div data-card-panel="work2"><i class="fa fa-times-circle-o"></i></div>
      <div data-card-panel="work3"><i class="fa fa-times-circle-o"></i></div>
      <div data-card-panel="work4"><i class="fa fa-times-circle-o"></i></div>
      <div data-card-panel="work5"><i class="fa fa-times-circle-o"></i></div>
      <div data-card-panel="work6"><i class="fa fa-times-circle-o"></i></div>
    </div>
  </div>

</div>